*.suo
**/bin
**/obj
**/Bin
**/Obj
*.cri
*.ref
**.csproj.user
_ReSharper.*
*.ReSharper.user
*.orig
*.vsp
*.psess
output/help/*
**.TeamCity.user
**/StyleCop.Cache
**/UpgradeLog*.XML
**.cs.rej
**.DotSettings.user
*.vspscc
Documentation/CoDeSys/AutomationPlatform.chw
Setup/PortalSetup/Generated/Plugins.wxs
Setup/PortalSetup/Generated/Devices.wxs
Output/Debug/*
**/BuildFiles
**/Temp
*.opt
Setup/PortalSetup/Generated/*
Output/Release/*
**.user
.vs
3rd party/packages/*
Portal.Core.BuildResults.txt
PackageFeed/Portal.Core*
*ObfuscationResults.txt

Portal/Obfuscation/portalDebug.babel
.sonarqube/
